// Section Heading
/*header*/
.vertical{
	background: transparent;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	-webkit-transition: background-color 0.4s ease-in-out;
	-moz-transition: background-color 0.4s ease-in-out;
	-ms-transition: background-color 0.4s ease-in-out;
	-o-transition: background-color 0.4s ease-in-out;
	transition: background-color 0.4s ease-in-out;
	&:before{
		content: '';
		height: 100%;
	}
	&:before,h3,.inner {
		display: inline-block;
		vertical-align: middle;
	}
	h3{
		font-weight: 400;
		text-transform: uppercase;
		font-size: 16px;
		color: #fff;
		letter-spacing: 2px;
		display: inline-block;
		padding: 15px 25px;
		border: 2px solid #fff;
	}
}

.thumb{
	border:7px solid #e5e5e5;
}

.img-holder{
	position: relative;
}

.holder {
	.vertical();
	.section-heading{

	}
	
}

.btn-dev{
	background: transparent;
	border-width: 2px;
	text-transform: uppercase;
}

body{
	padding-top: 0px;
}
.inner{
	.introduction{
		font-size: 55px;
		color: #fff;
		line-height: 1.19;
		font-weight: 300;
	}
	.cta-section{
		margin-top: 75px;
	}
}


.section-heading{
	.title{
		font-size:@font-size-h1;
		text-transform: uppercase;
		font-weight: 700;
		margin-top: 75px;
		margin-bottom: 75px;
	}
}

#essentials{
	
	.thumbnail{
		border:none;
		img{
			margin:auto;
		}
		h4{
			text-transform: uppercase;
			font-size: @font-size-large;
			font-weight: 700;
		}
	}
}

#process{
	background: #efeff1;
	.swiper-container
	{
		h4{
			text-transform: uppercase;
			font-size: @font-size-large;
			font-weight: 700;
			color: #fff;
			margin-top: 45px;
			margin-bottom: 45px;
			span{
			padding-left: 5px;
			padding-right: 5px;
			}
		}
		h5{
			font-size: @font-size-medium;
			font-weight: 700;
		}
		h6{
			font-size: @font-size-base;
			font-weight: 700;
			text-transform: uppercase;
		}
		width: 100%;
		height: 100%;
		margin-bottom: 125px;
		margin-top: 75px;
		img{
			margin: auto;
		}
	}
	.swiper-scrollbar-drag{
		.fa{
			color: #fff;
		}
	}
}

#work,#partners{
	margin-top: 180px;
	margin-bottom: 180px;
	.title{
		font-size:@font-size-h1;
		text-transform: uppercase;
		font-weight: 700;
		margin-top: 0;
		margin-bottom: 35px;
	}

}

#team{
	padding-top: 120px;
	padding-bottom: 120px;
	p{
		color: #fff;
	}
	.main-team-page{
		margin-bottom: 45px;
	}
	.title{
		font-size:@font-size-h1;
		text-transform: uppercase;
		font-weight: 700;
		margin-top: 0;
		margin-bottom: 35px;
		color: #fff;
	}
	.team-member{
		img{
			margin: auto;
			border:none;
			.transition(0.8s);
			&:hover{
				border:10px solid #fff;
				border-radius: 100%;
			}
		}
		h4{
			text-transform: uppercase;
			font-weight: 700;
			span{
				padding: 0px 5px;
			}
		}
		.text-center();
		.description{
			color:#fff;
		}

	}
}
.divider{
	> div{
		height: 20px;
		width:50%;
		float: left;
	}
}

// GRAVITY FORMS
.gform_wrapper{
	.gform_button{
		.btn();
		.btn-success();
	}
	.gform_footer {
	padding: 6px 0 10px 0;
	margin: 6px 0 0 0;
	clear: both;
	}

	h3.gform_title{
		font-weight: 400 !important;
		text-transform: uppercase;
		color: #fff;
		font-size: 30px !important;
		letter-spacing: 3px !important;
	}

	.gform_fields .gfield input[type=text], .gform_fields .gfield textarea{
		text-transform: uppercase;
		border:1px solid #858585;
		margin-bottom: 20px;
		padding: 10px;
		color: #c9c9c9;
	}
	.gform_footer{
		margin-top: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.validation_error{
		font-weight: 500 !important;
		text-transform: uppercase;
	}
}
.gform_confirmation_message{
	background: #fff;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: @brand-primary;
}
/*
 * Swiper - Mobile Touch Slider CSS
 * http://www.idangero.us/sliders/swiper
 *
 * Vladimir Kharlampidi, The iDangero.us
 * http://www.idangero.us/
 * 
 * Copyright 2012-2013, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us
 *
 * Licensed under GPL & MIT
 *
*/

/* ===============================================================
Basic Swiper Styles 
================================================================*/
.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;

	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;

	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);

	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;

	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}

/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
.swiper-container {
	/* Specify Swiper's Size: */

	/*width:200px;
	height: 100px;*/
}
.swiper-slide {
	/* Specify Slides's Size: */

	/*width: 100%;
	height: 100%;*/
}
.swiper-slide-active {
	/* Specific active slide styling: */

}
.swiper-slide-visible {
	/* Specific visible slide styling: */	

}
/* ===============================================================
Pagination Styles
================================================================*/
.swiper-pagination-switch {
	/* Stylize pagination button: */	

}
.swiper-active-switch {
	/* Specific active button style: */	

}
.swiper-visible-switch {
	/* Specific visible button style: */	

}
.swiper-scrollbar {
	position: relative;
	-ms-touch-action: none;
	background: #e0e0e4;
	height: 22px;
	margin: 20px auto;
}
.swiper-scrollbar-drag {
	height: 100%;
	width: 100%;
	position: relative;
	background: @brand-info;

}
.swiper-scrollbar-cursor-drag {
	cursor: pointer;
}